.payment-form-container {
  font-family: "OswaldMedium";
  width: 80%;
  margin: auto;
  .form-container {
    width: 100%;
    .personal-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        outline: none;
        border: 1px solid #555;
        &:focus {
          border: 1px solid var(--primary-color);
        }
      }
    }
    span {
      text-align: center;
      margin: 20px auto;
      display: block;
    }
    button {
      margin: auto;
      display: block;
      padding: 9px 31px;
      background-color: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      font-family: "OswaldMedium";
      letter-spacing: 2px;
      font-weight: 600;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        background: var(--primary-color);
        color: #FFF;
      }
    }
  }
}
