.payment-form-container {
  font-family: "OswaldMedium";
  width: 80%;
  margin: auto;
  .payment-success-box {
    p {
      text-align: center;
      letter-spacing: 1px;
      margin: 25px 0;
    }
    button {
      margin: auto;
      display: block;
      padding: 20px;
      width: 200px;
      background-color: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      font-family: "OswaldMedium";
      letter-spacing: 2px;
      font-weight: 600;
      transition: 0.3s ease;
      cursor: pointer;
      position: relative;
      &:hover {
        background: var(--primary-color);
        color: #fff;
      }
    }
  }
  .form-container {
    width: 100%;
    .personal-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        outline: none;
        border: 1px solid #555;
        &:focus {
          border: 1px solid var(--primary-color);
        }
      }
    }
    span {
      text-align: center;
      margin: 20px auto;
      display: block;
    }
    button {
      margin: auto;
      display: block;
      padding: 30px;
      width: 220px;
      background-color: transparent;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      font-family: "OswaldMedium";
      letter-spacing: 2px;
      font-weight: 600;
      transition: 0.3s ease;
      cursor: pointer;
      position: relative;
      &:hover {
        background: var(--primary-color);
        color: #fff;
      }
      .btn-loader {
        position: absolute;
        width: 30px;
        height: 30px;
        border: 5px solid #acacac;
        border-bottom-color: #ff3d00;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        left: 10%;
        bottom: -6px;
        opacity: 0;
        transition: 0.3s ease;
      }
      .btn-name {
        position: absolute;
        bottom: 0;
        left: 35%;
      }
    }
    button.btn-loading {
      .btn-loader {
        opacity: 1;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
