@font-face {
  font-family: OswaldExtraLight;
  src: url(./assets/fonts/Oswald-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: OswaldLight;
  src: url(./assets/fonts/Oswald-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: OswaldMedium;
  src: url(./assets/fonts/Oswald-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: OswaldRegular;
  src: url(./assets/fonts/Oswald-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: OswaldSemiBold;
  src: url(./assets/fonts/Oswald-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: OswaldBold;
  src: url(./assets/fonts/Oswald-Bold.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2e2eff;
}

.route-container {
  margin-left: 320px;
}

@media screen and (max-width: 1100px) {
  .route-container {
    margin-left: 0px;
    margin-top: 70px;
  }
}
